* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg:#1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    line-height: 1.2 ;
}

h1 {
    font-size: 2.4rem ;
}
h2 {
    font-size: 2rem ;
}
h3 {
    font-size: 1.6rem ;
}
h4 {
    font-size: 1.3rem ;
}
/* h5 {
    font-size: 2.4rem ;
} */

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display:inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 5000;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background-color: var(--color-danger);
    color: var(--color-white);
    display: inline-block;

}
/*--------------------Navbar----------------------------*/
nav {
    background: transparent;
    width:100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
/* Change navbar whenscrolldown appear background */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.2);
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button {
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}


.nav__menu a {
     font-size: 0.9rem;
     transition: var(--transition);
}

.nav__menu a:hover{
    color: var(--color-bg2);
}
/*--------------------Header----------------------------*/


header {
    position: relative;
    top: 5rem; 
    overflow: hidden;
    height: 70vh; 
    margin-bottom: 5rem;
    /* border: 1px var; */
    
    }
.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    gap: 5rem;
    height: 100%;
    }
.header__left p {
    margin: 1rem 0 2.4rem ;
}

/*--------------------Categories ----------------------------*/

.categories {
    background-color: var(--color-bg1);
    height: 29rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.categories__left{
    margin-right: 4rem;
}

.categories__left p {
    margin: 1rem 0rem 3rem;
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category{
    background: var(--color-bg2);
    padding: 2rem;
border-radius: 2rem;
transition: var(--transition);
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.category:nth-child(2) .category__icon{
    background: var(--color-bg);
}
.category:nth-child(3) .category__icon{
    background: var(--color-success);
}
.category:nth-child(4) .category__icon{
    background: var(--color-warning);
}
.category:nth-child(5) .category__icon{
    background: var(--color-success);
}
.category:nth-child(2) .category__icon{
    background: var(--color-danger);
}
.category__icon{
    background-color: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category h5 {
    margin: 2rem 0 1rem;
}
.category p {
    font-size: 0.85rem;
}
/*--------------------Categories ----------------------------*/

.courses {
    margin-top: 10rem;
}
.courses__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent; 
} 

.course:hover{
    background: transparent;
    border-color: var(--color-primary );
    transition: var(--transition);

}

.course__info {
    padding: 2rem;
}

.course__info p {
    margin: 1.2 rem 0 2rem;
}

/*--------------------faqs ----------------------------*/

.faqs {
    background-color: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.7);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h4 {
font-size: 1rem;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}

/*--------------------testimonials----------------------------*/

.testimonial__container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;

}

.testimonial {
    padding-top: 2rem;

}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;

    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.testimonial__info {
    text-align: center;

}

.testimonial__body{
    background:var(--color-primary) ;
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}
.testimonial__body::before {
    content: "";
    display: block;
    background: linear-gradient(
    135deg, 
    transparent,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
    );
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);

}
/*--------------------footer----------------------------*/

footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}